/*
#f3e9f1 rose clair
#f3ebf3 plus clair

#261624 noir
#925cf7 violet
#d27f42 orange

*/
/*----------------------------------------------------- Général -----------------------------------------------------*/
h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 135px;
    text-align: center;
}

h2 {
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #FBF9FB;
    min-width: 300px;
}

header {
    width: 100%;
}

.limitedWidthBlockContainer {
    display: flex;
    justify-content: center;
}

.limitedWidthBlock {
    width: 100%;
    max-width: 1400px;
    padding: 0 25px;
}

/*----------------------------------------------------- Page d'accueil -----------------------------------------------------*/
.informations {
    font-size: 15px;
    background-color: #e3cfe0;
}

.informations img {
    height: 20px;
}

.informations ul {
    display: flex;
    padding: 1.25rem 0 10px 0;
}

.informations ul li {
    display: flex;
    list-style: none;
    margin-right: 36px;
    color: white;
}

.informations__phone,
.informations__mail {
    margin-right: 10px;
}

.menu {
    background-color:#f3e9f1;
}

.menu .limitedWidthBlock {
    display: flex;
    justify-content: space-between;
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu nav {
    display: flex;
}

.menu nav ul {
    display: flex;
    margin: 0;
    line-height: 130px;
}

.menu nav ul li {
    list-style: none;
    margin-left: 50px;
}

.menu nav ul li:hover {
    text-decoration: underline;
    color: #4A404D;
}

.navbar_logo {
    height: 100px;
}

.navbar_link a {
    list-style: none;
    color: #4A404D;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.banniere {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: flex;
    opacity: 60%;
}

main {
    background-color: #FEFAFE;
}
.cameras {
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cameras-img {
    width: 430px;
    border-radius: 25px;
    margin-top: 20px;
}

.cameras-img:hover {
    opacity: 0.5;
}

.camera-name {
    margin-top: .9375rem;
    color: #4A404D;
}

.cameras_title {
    font-size: 25px;
    margin-top: 40px;
    color: #4A404D;
}

footer {
    width: 100%;
    background-color: #f3e9f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    color: #4A404D;
}

footer .footerMain,
footer .footerSecondary {
    width: 100%;
}

/*footerMain*/
.footerMain {
    padding: 50px 0;
}

.footerMain .limitedWidthBlock {
    display: flex;
    justify-content: space-between;
}

.footerMain .limitedWidthBlock div {
    display: flex;
    align-items: center;
}

/*footerSecondary*/
.footerSecondary {
    background-color:#e3cfe0;
    padding: 25px 0;
    color: white;
}

.footerSecondary a {
    text-decoration: none;
    color: white;
}

/*--------------------------------------------------------- Page Produit -----------------------------------------------------------*/

.cameras-product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cameras-description-img {
    width: 500px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cameras-description {
    padding-top: 15px;
    width: 500px;
}

.cameras-name {
    color: #925cf7;
}

.cameras-price {
    padding-left: 15px;
    margin-bottom: 6px;
}

.bloc-product {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.bloc-description {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.bloc-price {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

.btn-add {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #d27f42, #925cf7);
    border: none;
    color: #FFF;
    border-radius: 5px;
    font-size: 15px;
}

.btn-add:hover {
    box-shadow: #767676 0 0 4px 4px;
}

.product-description-order {
    text-align: center;
    padding: 30px;
}

/*---------------------------------------------------------- Page Panier -----------------------------------------------------------*/
.basket-container {
    padding-bottom: 90px;
}

.cart__item {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey;
    padding-top: 35px;
    margin-bottom: 30px;
}

.cart__item__img {
    width: 25%;
}

.cart__item__img img {
    width: 70%;
    border-radius: 20px;
}

.cart__item__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cart__item__content__title {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.cart__item__content__settings__delete {
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #d27f42, #925cf7);
    border: none;
    color: #FFF;
    border-radius: 5px;
    font-size: 15px;
}

.cart__item__content__settings__delete:hover {
    cursor: pointer;
    font-weight: 700;
    box-shadow: #767676 0 0 4px 4px;
}

/*******/
/*Price*/
/*******/
.cart__price {
    border-top: 1px solid grey;
    padding-top: 35px;
}

.cart__price p {
    text-align: end;
    font-size: 22px;
}

.hidden-price {
    visibility: hidden;
}

/*******/
/*Order*/
/*******/
.cart__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.cart__order__form {
    width: 40%;
}

.cart__order__form__question {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.cart__order__form__question input {
    border: 1px solid #d27f42;
    border-radius: 15px;
    height: 35px;
    margin-top: 4px;
}

.cart__order__form__question input:focus {
    outline: none;
}

.cart__order__form__question p {
    margin: 0;
    color: #fbbcbc;
    font-size: 15px;
    margin-left: 8px;
}

.cart__order__form__submit {
    display: flex;
    justify-content: center;
}

.cart__order__form__submit button {
    color: white;
    padding: 18px 28px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, #d27f42, #925cf7);
    border: none;
    color: #FFF;
    border-radius: 5px;
    font-size: 15px;
}

.cart__order__form__submit button:hover {
    box-shadow: #767676 0 0 4px 4px;
}

.error input {
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.527);
}

.error span {
    visibility: visible;
    opacity: 1;
    color: red;
}

/*-------------------------------- Page de confirmation ------------------------------------*/
.confirmation {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.valid__order__content {
    background-color: white;
    color: #3d424f;
    text-align: center;
    font-weight: 500;
    padding: 30px;
    border-radius: 25px;
    width: 55%;
}

.valid__order__content p {
    line-height: 36px;
}
.valid__order__content h5 {
    color:#261624;
}
.valid__order__content .order-id {
    color: #925cf7;
}


/***************/
/*Media queries Accueil */
/***************/

@media (max-width: 991.98px) {
    .cameras {
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .cameras-img {
        width: 330px;
    }
}
/***************/
/*Media queries Produit */
/***************/
@media (max-width: 991.98px) {
    .cameras-description-img {
        width: 360px;
    }
    .cameras-description {
        width: 300px;
    }

    .footerMain .limitedWidthBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerSecondary .limitedWidthBlock p {
        text-align: center;
    }
}

@media (max-width: 575.98px) {
    .bloc-price {
        justify-content: center;
    }
    .cameras-description {
        width: 300px;
    }
    .bloc-description {
        text-align: center;
    }
    .cameras-description-img {
        width: 320px;
    }
    .cameras-product {
        flex-direction: column;
    }
    .informations ul {
        flex-direction: column;
        align-items: center;
    }

    .informations ul li {
        margin-bottom: 14px;
        margin-right: 0;
    }

    .menu .limitedWidthBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
/***************/
/*Media queries Panier */
/***************/

@media (max-width: 991.98px) {
    .cart__item__content__titlePrice {
        flex-direction: column;
    }
}

@media (max-width: 575.98px) {
    .cart__item {
        flex-direction: column;
        align-items: center;
    }

    .cart__item__img {
        width: 300px;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    .cart__item__content {
        flex-direction: column;
    }

    .cart__item__content__description {
        flex-direction: row;
        text-align: center;
    }

    .cart__item__content__settings__delete {
        width: 120px;
        text-align: center;
    }

    .cart__order {
        justify-content: center;
    }

    .cart__order__form {
        width: 75%;
    }
}


@media (max-width: 575.98px) {
    .valid__order__content {
        width: 100%;
    }
    .valid__order__content p {
        font-size: 20px;
    }
}
