* {
    margin: 0rem;
    padding: 0rem;
}

html, body {
    font-family: "Roboto", sans-serif;
    width: auto;
    scroll-behavior: smooth;
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: .9375rem;
    background-color: #FFF;
    width: 100%;
    height: 3.125rem;
    box-shadow: 0rem 0rem .5625rem 0rem #353535;
    position: absolute;
  }

h1 {
    color: #000000;

}

main {
    padding-top: 9.375rem;
}
